.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    background-color: bisque
}

.izquierdo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 42em;
    width: 53em;

    border-right: solid;


}
.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 4em;
    width: 53em;

}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    height: auto;
    width: 53em;

    overflow-y:scroll;

}

.jugando::-webkit-scrollbar {
    display: none;
}

.derecho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 42em;
    width: 53em;

}

.tituloSub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 4em;
    width: 53em;

}

.subproductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    height: auto;
    width: 53em;

    overflow-y:scroll;


}

.cartas {
    padding: 1em;
}