.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: rgb(255, 196, 228);
}

.izquierdo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: auto;
    width: 53em;

    border-right: solid;

    background-color: pink;
}
.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 4em;
    width: 53em;

    background-color: green;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    height: 33em;
    width: 53em;

    background-color: yellow;
}

.derecho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 42em;
    width: 53em;

    background-color: blue;
}

.tituloSub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 4em;
    width: 53em;

    background-color: lightblue;
}

.subproductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    height: 33em;
    width: 53em;

    background-color: orange;
}

.cartas {
    padding: 1em;
}